/* App.js */
main {
  min-height: 80vh;
}

.btn-outline-success{
  border-color: #1f1f1f !important;
  color: #1f1f1f !important;
  border-radius: 10px !important;

}
.btn-outline-success:hover{
  background-color: #1f1f1f !important;
  color: #fff !important;
}
.mr-sm-2{
  border-radius: 10px !important;
}

/* Product.js */
h3 {
  padding: 1rem 0;
}

/* Adding shadow to the product card */
.my-3.p-3.rounded.card {
  border-radius: 20px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.card-img{
  border-radius: 13px !important;
  height: 300px !important;
  width: 270px !important;
}

.img-fluid{
  border-radius: 20px !important;
  height: 500px !important;
  width: 450px !important;
}


/* Rating.js */
.rating span {
  margin: 0.1rem;
}

/* CartScreen.js */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.img-fluid.rounded{
  height: 150px !important;
  width: 200px !important;
}

/* HomeScreen.js (Carousel) */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
  color: white;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  margin-top: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
    color: white;
  }
}
